<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EdgeSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EdgeSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <EdgeSync.Properties.Settings>
            <setting name="RemoteDataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SyncMode" serializeAs="String">
                <value>BiDirectional</value>
            </setting>
            <setting name="FixInternalDuplicates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsFirstTime" serializeAs="String">
                <value>True</value>
            </setting>
        </EdgeSync.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <EdgeSync.Properties.Settings>
            <setting name="DatabasePath" serializeAs="String">
                <value>%USERPROFILE%\AppData\Local\Packages\Microsoft.MicrosoftEdge_8wekyb3d8bbwe\AC\MicrosoftEdge\User\Default\DataStore\Data\nouser1\120712-0049\DBStore\spartan.edb</value>
            </setting>
            <setting name="IconPath" serializeAs="String">
                <value>%USERPROFILE%\AppData\Local\Packages\Microsoft.MicrosoftEdge_8wekyb3d8bbwe\AC\MicrosoftEdge\User\Default\DataStore</value>
            </setting>
            <setting name="ScrubDeletedDays" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="UsersGuide" serializeAs="String">
                <value>http://www.edgemanage.emmet-gray.com/Articles/EdgeSync.html#UsersGuide</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value>egray1@hot.rr.com</value>
            </setting>
            <setting name="Home" serializeAs="String">
                <value>http://www.edgemanage.emmet-gray.com</value>
            </setting>
            <setting name="SleepDelay" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="UpdateVersion" serializeAs="String">
                <value>http://www.edgemanage.emmet-gray.com/Files/EdgeSyncVersion.txt</value>
            </setting>
            <setting name="SetupURL" serializeAs="String">
                <value>http://www.edgemanage.emmet-gray.com/Files/SetupEdgeSync.msi</value>
            </setting>
            <setting name="MaxVerPages" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="EdgeManifest" serializeAs="String">
                <value>%SystemRoot%\SystemApps\Microsoft.MicrosoftEdge_8wekyb3d8bbwe\AppxManifest.xml</value>
            </setting>
        </EdgeSync.Properties.Settings>
    </applicationSettings>
</configuration>
